header{
    background: black;
    margin-right: -20px;
    margin-left: -30px;
    margin-top: -15px; 
    padding-bottom: 20px;
}
.ul1 li{
    text-decoration: none;
    display: inline;
    color: white;
    padding: 20px;
}
.navmenu{
    justify-self: center;
    margin-top: -130px;
}
.head_logo{
    margin-left: 80px;
    padding-bottom: 80px;
    padding-top: 15px;
}
.ul1{
    margin-top: -10px;
}
.blog a:link{
    text-decoration: none;
    color: black;

}

footer{
    background-color: black;
    position: static;
    margin-right: -20px;
    margin-left: -30px;
    margin-bottom: -15px; 
    padding-top: 20px;
    padding-bottom: 45px;
}
.foot_logo{
    margin-left: 80px;
    padding-top: 80px;
    padding-top: 15px;
}
.li2{
    color: white;
}
.footmenu{
    justify-self: center;
    margin-top: -100px;
    margin-right: 220px;
}
.footaddress{
    justify-self: right;
    color: white;
    margin-top: -120px;
    margin-right: 100px;
}
.footaddress h3{
    color: aqua;
}
.footadd{
    margin-top: -10px;
}
.banner{
    margin-top: 5px;
}
.article1{
    background-color: #e8e8e8;
    width: 50%;
    margin-bottom: 10px;
    justify-self: center;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}
.article2{
    background-color: #e8e8e8;
    width: 50%;
    margin-bottom: 10px;
    justify-self: center;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}
.article3{
    background-color: #e8e8e8;
    width: 50%;
    margin-bottom: 10px;
    justify-self: center;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}
article a{
    text-decoration: none;
    color: black;
}
article h1{
    font-size: 25px;
    color: black;
}
article p{
    font-size: 20px;
    color: black;
}
.blog{
    margin-top: 10px;
    justify-items: left;
    margin-left: 20px;
    width: 90%;
}
.blog h1{
    font-size: 45px;
}
.blog p{
    font-size: 20px;
}
.con_form {
    background-color: #e8e8e8;;
    width: 40%;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
.con_form input , label{
    margin: 10px;
}
.field1{
    width: 585px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
}
.con_form label{
    font-size: 20px;
}
.con_form h1{
    justify-self: center;
}
footer a, a:link, a:visited {
    color: white;
    text-decoration: none;
}